<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <section id="appContainer" class="main">
      <div id="loading">Loading...</div>
    </section>
    
    <div id="clm-video">
      <video id="webcam-video" width="400" height="300" webkit-playsinline playsinline autoplay muted></video>
      <canvas id="video-overlay" width="400" height="300"></canvas>
    </div>
    <div id="clm-image">
      <canvas id="webcam-image" width="400" height="300"></canvas>
      <canvas id="image-overlay" width="400" height="300"></canvas>
    </div>

    <button id="btn-take-photo">写真を撮影する</button>
    
    <% if (htmlWebpackPlugin.options.env === 'dev') { %>
    <script src="js/rStats.js"></script>
    <script src="js/rStats.extras.js"></script>
    <script src="js/dat.gui.min.js"></script>
    <script src="js/clmtrackr.js"></script>
    <% } %>
  </body>
</html>
