<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="content">
    	<div id="container" class="nohide">
				<video id="videoel" width="370" height="288" preload="auto" playsinline autoplay></video>
				<canvas id="canvasel" width="370" height="288" class="hide"></canvas>
				<canvas id="overlay" width="370" height="288"></canvas>
			</div>
			<div id="webglcontainer" class="hide">
				<canvas id="webgl" width="306" height="342"></canvas>
			</div>
			<br/>
			<div id="buttons">
        <input class="btn" type="button" value="wait, loading video" id="trackingButton"></input>
				<input class="btn hide" type="button" value="START" id="animationButton"></input>
				<input class="btn hide" type="button" value="RESET" id="resetButton"></input>
			</div>
			<p id="score"></p>
      <p id='gUMMessage'></p>
      <ul id="emotion">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    
    <% if (htmlWebpackPlugin.options.env === 'dev') { %>
    <script src="js/rStats.js"></script>
    <script src="js/rStats.extras.js"></script>
    <script src="js/libs/dat.gui.min.js"></script>
    <% } %>
    <script src="js/clmtrackr.js"></script>
    <script src="js/face_deformer.js"></script>
    <script src="js/libs/webgl-utils.js"></script>
    <script src="js/libs/utils.js"></script>
    <script src="js/models/model_pca_20_svm.js"></script>
  </body>
</html>
