html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  -webkit-transition: .3s;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  overflow: hidden; }

.main {
  position: relative;
  width: 100%;
  height: 100vh; }

#overlay, #canvasel {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  -webkit-filter: fliph;
          filter: fliph;
  /*IE*/ }

#videoel {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  -webkit-filter: fliph;
          filter: fliph;
  /*IE*/ }

#container, #webglcontainer {
  position: relative;
  width: 370px;
  /*margin : 0px auto;*/ }

.nogum {
  display: none; }

.btn {
  font-family: 'Lato';
  font-size: 16px; }

.hide {
  display: none; }

.nohide {
  display: block; }

#buttons {
  position: absolute;
  left: 0;
  bottom: 0; }

#emotion {
  position: absolute;
  top: 50px;
  left: 0; }

#loading {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 35px); }

#clm-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 240px; }

#webcam-video {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  -webkit-filter: fliph;
          filter: fliph;
  /*IE*/ }

#video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  -webkit-filter: fliph;
          filter: fliph;
  /*IE*/ }

#clm-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 320px;
  height: 240px; }

#webcam-image {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  -webkit-filter: fliph;
          filter: fliph;
  /*IE*/ }

#image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  -webkit-filter: fliph;
          filter: fliph;
  /*IE*/ }

#btn-take-photo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  background-color: #fff;
  padding: 10px;
  text-align: center; }

#btn-start {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 80px;
  background-color: #fff;
  padding: 10px;
  text-align: center; }

